html, body{
    width:100%;
    height: 100%; 
}

body {
    
    font-family: 'GmarketSansMedium';
    background-color: skyblue;
    color: black;
    
    
}




.intro_saying{
	background-color: antiquewhite;
	height: 150px;
	
}

.intro_saying p{
	 position: absolute;
    font-size: 50px;
    line-height: 1;
    margin-left: 550px;
}

.result{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.result .result_wrap{
    font-size: 20px;
}

.result span {
    padding: 0 20px;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size:70px;
}

.result .result_buttons{
    
    padding:100px
}

.start .start_wrap .start_button{
    width: 200px;
    height: 50px;
    border:none;
    background-color: #FCEE;
    font-size:20px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: bold;
    cursor: pointer;
}

.button{
  text-align: center;
  height: 500px;
  width: 500px;
  border: none;
  background-color: aqua;
  padding: 14px 14px;
  font-size: 30px;
}




button{
	
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	height: 70px;
	margin: 20px;
	border-width: 5px;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
}

button:hover {
	cursor: pointer;
	transform: scale(1.2);
	letter-spacing: 2px;
	
}

.btn1 {
	border-color: blue;
	box-shadow: 0 10px 20px;
	
	
}

.btn1:active{
	transform: scale(0.7);
	background-color: blue;
	
}

.nice_btn{
	position: absolute;
	top: 25%;
	left: 30%;
	text-align: center;
}
.nice_btn1{
	width: 150px;
	height: 70px;
	margin: 20px;
	font-weight: bold;
	border-width: 5px;
	border-radius: 100%;
	padding: 15px;
	box-shadow: 0 10px 20px;
	border: none;
    background: linear-gradient(
       90deg,
       #F0FFFF,
       #ADD8E6,
       #96DED1,
       #40E0D0,
       #0096FF,
       #0000FF
    );
	background-size: 200%;
	animation: change_color 4s ease
	infinite;
}

.nice_btn1:active{
	transform: rotate(10deg);
	top: 50%;
	left: 200px;
}

.nice_btn1:hover::after{
	border: 3px solid;
	border-color: aqua;
	border-radius: 100%;
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: nice_ring 3s infinite;
	z-index: -1;
}

@keyframes nice_ring{
	0%{
		width: 0px;
		height: 0px;
		border-width: 30px;
		opacity: .6;
	}
	100%{
		width: 300px;
		height:300px;
		border-width: 0px;
		opacity: .0;
	}